        body {
            background-color:rgb(253, 251, 243);
            font-family: Arial, sans-serif;

        }
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            position: sticky;
            background: rgba(255, 255, 255, 0.8);
            backdrop-filter: blur(8px);
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            height: 30px;
            border-radius: 15px;
            top: 0;
        }
        .logo {
            font-weight: bold;
            display: block;
            color:#ff7a00;
        }
        .logo img {
        height: 50px;  
        width: auto;  
        filter: drop-shadow(0 2px 5px rgba(0,0,0,0.3));
        }

    .icon i {
        font-size: 16px;
        color:#ff7a00;

    }

        nav ul {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;
            gap: 20px;

        
        }
        nav a {
            margin-left: 20px;
            text-decoration: none;
            color: #333;
            font-weight: 500;
        }
        nav a:hover {
            color: #ff7a00;;
        }
        .home {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            max-width: 1500px;
            margin: 50px auto;
            border-radius: 20px;
            background-color: #ffffff;
            padding: 50px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            gap: 50px;

        }

        .home2 {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            max-width: 1300px;
            margin: 50px auto;
            padding: 50px;
            gap: 50px;
        }

        .hero-text h2 {
            font-size: 55px;
            font-weight: 900;
            color: #ff7a00;
            margin-bottom: 20px;

        }

        .hero-text2 h2 {
            font-size: 45px;
            font-weight: 600;
            color: black;
            margin-bottom: 20px;

        }
        .hero-text3 {
            max-width: 450px;
        }

        .hero-text3 h2 {
        font-size: 45px;
        font-weight: 600;
        color: black;
        margin-bottom: 20px;
        }
        .hero-text p, .hero-text2 p, .hero-text3 p {
            font-size: 18px;
            color: #666;
            line-height: 1.6;
            margin-bottom: 20px;
        }

        .hero-text {
        flex: 1;
        text-align: left;

        }

        .features {
            margin-left: 20px;
            margin-bottom: 30px;
        }

        .features li {
            margin-bottom: 10px;
            font-size: 16px;
            color: #444;
        }

        .logo p{
            font-size: 24px;
            color:#ff7a00;
            font-weight: bold;
        }

        .btn {
            color:white;
            background-color: rgba(219, 97, 0, 255);
            border-radius: 10px;
            display: inline-block;
            gap: 20px;
            margin-top: 20px;
            width: 300px;
            height: 25px;
            text-decoration: none;
            padding: 10px 20px;
            margin-right: 10px;
        }

        .buttons {
            display: flex;
            gap: 20px;
            margin-top: 20px;
        }

        .btn-outline {
            padding: 12px 25px;
            border-radius: 12px;
            background: #fff;
            border: 2px solid #000;
            cursor: pointer;
            text-decoration: none;
            color: #000;
            font-weight: 500;
        }


        .btn-main {
            padding: 12px 25px;
            border-radius: 12px;
            background: #ff7a00;
            color: #fff;
            cursor: pointer;
            text-decoration: none;
            font-weight: 500;
        }

        .image-rest img {
        width: 550px;
        height: 400px;
        object-fit: cover;
        border-radius: 15px;
    }

    .image-rest2 img {
        width: 550px;
        height: 600px;
        object-fit: cover;
        border-radius: 15px;
    }
        
        
        .container-menu {
            display: flex;
            align-items: stretch;
            flex-wrap: wrap;
            gap: 20px;
        
        }

        .card-menu {
            border-radius:15px;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 250px;
            padding: 15px;
            text-align: center;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }
        .card-menu:hover {
            transform: translateY(-10px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2)
            
            }
        .img-menu {
            width: 200px;
            height: 200px;
            border-radius: 15px;
            object-fit: cover;
        }

        .order-btn {
            background-color: #e4b228;
            color: white;
            border: none;
            border-radius: 15px;
            padding: 10px 20px;
            cursor: pointer;
            margin-top: 10px;
            display: flex;
        }
        .order-btn:hover {
            background-color: #cfa020;
        }
        footer {
            text-align: center;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.8)
            backdrop-filter: blur(8px);
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            color:#fff;
            margin-top: 50px;
            border-radius: 15px;
        }

        .layout {
            display: flex;
            gap: 40px;
            align-items: flex-start;
            max-width: 1200px;
            margin: 50px auto;
            }

        .content {
            flex: 1;    
            align-items: stretch;
        }
                .content2 {
                    flex: 1;
                    align-items: stretch;
                    max-width: 1200px;
                }

            .sidebar {
                position: sticky;
                width: 200px;
                max-height: 550px;
                top: 100px;
                padding: 15px;
                background: #fff;
                border-radius: 15px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                flex-shrink: 0;
                margin-left: 40px;
            }
        
            .sidebar ul li {
                margin-bottom: 12px;
                list-style: none;
                background-color: bisque;
                padding: 10px;
                border-radius: 10px;
                transition: 0.3s ease;
                gap: 12px;
            }
        
            .sidebar ul li a {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 20px 20px;
                border-radius: 12px;
                text-decoration: none;
                background: #ffffff;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
                font-size: 14px;
                color: #444;
                transition: 0.2s;
                width: 100px;
            }
        
            .sidebar ul li:hover {
                transform: scale(1.05);
            }
        
            .sidebar ul li a {
                text-decoration: none;
                color: #333;
                font-weight: 500;
            }
        .card-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            position: relative;
        }
        .first {
            text-align: center;
            margin-bottom: 30px;

        }
        .delivery-method {
            background-color: #ffffff;
            outline: 1px solid orange;
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }
        .select-city {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            padding: 10px;
            border-radius: 10px;
            width: 100%;
        }

        .select-city select {
            padding: 10px 15px;
            border-radius: 10px;
            border: 1px solid #ccc;
            font-size: 14px;
            cursor: pointer;
            background-color: #fff;
            transition: all 0.3s ease;
        }
        .container-info {
            display: flex;
            justify-content: center;
            align-items: stretch;
            gap: 15px;
            flex-wrap: wrap;
        }
        .info-block {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 250px;
            flex: 1 1 calc(33.33% - 20px); 
            box-sizing: border-box;         
            min-width: 250px;           
        }
        .info-block-important {
            outline: 1px solid orange;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 250px;
            flex: 1 1 calc(33.33% - 20px);
            box-sizing: border-box;
            min-width: 250px;
        }
        .info-block p {
            margin-top: 10px;
            font-size: small;
            color: #787a75;
        }
        .info-block-important p {
            margin-top: 10px;
            font-size: small;
            color: #787a75;
        }
        .hero-drink-img {
            width: 400px;
            height: 700px;
            object-fit: cover;
            border-radius: 20px;
        }

        .dilivery {
            max-width: 800px;
            margin: 0 auto;
            padding: 40px 20px;
        }
        .Keitering-text {
            font-size: 14px;
            color: #666;
            line-height: 1.6;
            margin-bottom: 20px;
        }

        .main {
            max-width: 300px;
            margin: 0 auto;
            padding: 20px;
        }
        