body {
    background-color: #FDF5E6;
    font-family: Arial, sans-serif;

}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(8px);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    height: 10px;
   border-radius: 15px;
   top: 0;
   

}
.logo {
    font-weight: bold;
    display: block;
    color:#e4b228
}
.logo img {
  height: 50px;  
  width: auto;  
  filter: drop-shadow(0 2px 5px rgba(0,0,0,0.3));
}



nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;

   
}
nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}
nav a:hover {
    color: #e4b228;
}
.home {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 50px auto;
        border-radius: 15px;
        background-color:white;
        padding: 50px 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        gap:40px;
}
.hero-text h2 {
   text-align:left;
}
.hero-text {
   flex: 1;

}
.logo p{
    font-size: 24px;
    color: #e4b228;
    font-weight: bold;
}

.btn {
    color:white;
    background-color: rgba(219, 97, 0, 255);
    border-radius: 15px;
    display: inline-block;
    gap: 20px;
    margin-top: 20px;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 10px;
}

.buttons {
    display: flex;
    gap: 20px;
}
.image-rest img {
    width: 350px;
    border-radius: 10px;
    object-fit: cover;
   
}
.container-menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
   
}

.card-menu {
    border-radius:15px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-menu:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2)
    
    }
.img-menu {
    width: 200px;
    border-radius: 15px;
}

.order-btn {
    background-color: #e4b228;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    display: flex;
}
.order-btn:hover {
    background-color: #cfa020;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8)
    backdrop-filter: blur(8px);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    color:#fff;
    margin-top: 50px;
    border-radius: 15px;
}

.layout {
    display: flex;
    gap: 20px;  
}
.content {
    flex: 1;
}

.sidebar {
    position: sticky;
    width: 200px;
    max-height: 250px;
    top:100px;
    padding: 15px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);;
}

.sidebar ul li {
    margin-bottom: 12px;
    list-style: none;
    background-color: bisque;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s ease;
}

.sidebar ul li:hover {
    transform:  scale(1.05);
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}  
.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    position: relative;
}